@import "tailwindcss";
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@theme {
  --breakpoint-xs: 30rem;
  --breakpoint-xxs: 23rem;
}
